name: dbt CI/CD

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  dbt-run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Upgrade pip
        run: python -m pip install --upgrade pip

      - name: Install dbt for Postgres
        run: pip install dbt-postgres==1.11.5

      - name: Set up DBT profiles
        run: |
          mkdir -p ~/.dbt
          cat <<EOF > ~/.dbt/profiles.yml
my_project:
  outputs:
    dev:
      type: postgres
      threads: 1
      host: localhost
      port: 5432
      user: ${{ secrets.DB_USER }}
      pass: ${{ secrets.DB_PASS }}
      dbname: testdb
      schema: public
  target: dev
EOF

      - name: Run dbt models
        run: dbt run --profiles-dir ~/.dbt

      - name: Run dbt tests
        run: dbt test --profiles-dir ~/.dbt
